<div class="container image">
</div>
<div container>
<center>
<h1>Welcome to Project Maker</h1>
  <p>Check out all the cool projects you can make!</p>

  <p> Project Maker is a took that helps you organize the pieces of your senior project, while simultaneously teaching you skills that you will most likely encounter once you enter the career world (no matter what industry you go into). It uses much of the same verbiage and planning techniques as do companies.</p>

  <p>We offer 8 different types of project templates, or if you are not sure what type of project you would like you can begin from scratch and customize your project from the beginning.</p>

<p>
  <%= link_to "Browse Projects", browse_index_path %>
</p>
</center>
</div>